<a href="https://colab.research.google.com/github/takenorclife/takenorclife/blob/main/date%E9%96%A2%E6%95%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#dateの計算　3か月毎の日付を算出
import datetime
from dateutil.relativedelta import relativedelta

a = datetime.datetime(2024, 10, 19)
a_list = []
for i in range(1,  41):
  b = a +relativedelta(months=+3)
  a_list.append(b)
  a = b
  #print(datetime.datetime.strftime(b, '%Y-%m-%d'))
c = 4000000
cc = c/10/4
c_list = []
for i in range(1, 41):
  d = c - cc
  c_list.append(d)
  c = d
  #print(int(d))

In [ ]:
# 竣工日、借入金、借入期間から返済開始日、返済日、返済額、金利支払い、残金を算出する
import datetime
from dateutil.relativedelta import relativedelta

a = '2024-10-20' #竣工日入力
c = 1000000 #借入金入力
pyear = 10  #借入期間入力
e = 0.015 #金利入力

aa = datetime.datetime.strptime(a, '%Y-%m-%d')
cc = float(c)/float(pyear)/4   #返済額
nn = int(pyear)*4

a_list = []
c_list = []
e_list = []
p_list = []

for i in range(1,nn+1):
  p_list.append(i)
  b = aa +relativedelta(months=+3)
  a_list.append(b)
  aa = b
  d = int(c) - cc
  c_list.append(d)
  f = int(c) * float(e)
  e_list.append(f)
  c = d
  print(i, datetime.datetime.strftime(b, '%Y-%m-%d'), int(cc), int(f),int(cc+f), int(d), )

1 2025-01-20 25000 15000 40000 975000
2 2025-04-20 25000 14625 39625 950000
3 2025-07-20 25000 14250 39250 925000
4 2025-10-20 25000 13875 38875 900000
5 2026-01-20 25000 13500 38500 875000
6 2026-04-20 25000 13125 38125 850000
7 2026-07-20 25000 12750 37750 825000
8 2026-10-20 25000 12375 37375 800000
9 2027-01-20 25000 12000 37000 775000
10 2027-04-20 25000 11625 36625 750000
11 2027-07-20 25000 11250 36250 725000
12 2027-10-20 25000 10875 35875 700000
13 2028-01-20 25000 10500 35500 675000
14 2028-04-20 25000 10125 35125 650000
15 2028-07-20 25000 9750 34750 625000
16 2028-10-20 25000 9375 34375 600000
17 2029-01-20 25000 9000 34000 575000
18 2029-04-20 25000 8625 33625 550000
19 2029-07-20 25000 8250 33250 525000
20 2029-10-20 25000 7875 32875 500000
21 2030-01-20 25000 7500 32500 475000
22 2030-04-20 25000 7125 32125 450000
23 2030-07-20 25000 6750 31750 425000
24 2030-10-20 25000 6375 31375 400000
25 2031-01-20 25000 6000 31000 375000
26 2031-04-20 25000 5625 30625 350000
27 2031-07-20 25000 5250 30250 325000
28 2031-10-20 25000 4875 29875 300000
29 2032-01-20 25000 4500 29500 275000
30 2032-04-20 25000 4125 29125 250000
31 2032-07-20 25000 3750 28750 225000
32 2032-10-20 25000 3375 28375 200000
33 2033-01-20 25000 3000 28000 175000
34 2033-04-20 25000 2625 27625 150000
35 2033-07-20 25000 2250 27250 125000
36 2033-10-20 25000 1875 26875 100000
37 2034-01-20 25000 1500 26500 75000
38 2034-04-20 25000 1125 26125 50000
39 2034-07-20 25000 750 25750 25000
40 2034-10-20 25000 375 25375 0

In [ ]:
#複数のlistを配列（array)に変換
import numpy as np
import pandas as pd

a = np.array(a_list)
c = np.array(c_list)
e = np.array(e_list)
p = np.array(p_list)

stack = np.stack((p,a,c,e))
stack

array([[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
        19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
        35, 36, 37, 38, 39, 40],
       [datetime.datetime(2025, 1, 20, 0, 0),
        datetime.datetime(2025, 4, 20, 0, 0),
        datetime.datetime(2025, 7, 20, 0, 0),
        datetime.datetime(2025, 10, 20, 0, 0),
        datetime.datetime(2026, 1, 20, 0, 0),
        datetime.datetime(2026, 4, 20, 0, 0),
        datetime.datetime(2026, 7, 20, 0, 0),
        datetime.datetime(2026, 10, 20, 0, 0),
        datetime.datetime(2027, 1, 20, 0, 0),
        datetime.datetime(2027, 4, 20, 0, 0),
        datetime.datetime(2027, 7, 20, 0, 0),
        datetime.datetime(2027, 10, 20, 0, 0),
        datetime.datetime(2028, 1, 20, 0, 0),
        datetime.datetime(2028, 4, 20, 0, 0),
        datetime.datetime(2028, 7, 20, 0, 0),
        datetime.datetime(2028, 10, 20, 0, 0),
        datetime.datetime(2029, 1, 20, 0, 0),
        datetime.datetime(2029, 4, 20, 0, 0),
        datetime.datetime(2029, 7, 20, 0, 0),
        datetime.datetime(2029, 10, 20, 0, 0),
        datetime.datetime(2030, 1, 20, 0, 0),
        datetime.datetime(2030, 4, 20, 0, 0),
        datetime.datetime(2030, 7, 20, 0, 0),
        datetime.datetime(2030, 10, 20, 0, 0),
        datetime.datetime(2031, 1, 20, 0, 0),
        datetime.datetime(2031, 4, 20, 0, 0),
        datetime.datetime(2031, 7, 20, 0, 0),
        datetime.datetime(2031, 10, 20, 0, 0),
        datetime.datetime(2032, 1, 20, 0, 0),
        datetime.datetime(2032, 4, 20, 0, 0),
        datetime.datetime(2032, 7, 20, 0, 0),
        datetime.datetime(2032, 10, 20, 0, 0),
        datetime.datetime(2033, 1, 20, 0, 0),
        datetime.datetime(2033, 4, 20, 0, 0),
        datetime.datetime(2033, 7, 20, 0, 0),
        datetime.datetime(2033, 10, 20, 0, 0),
        datetime.datetime(2034, 1, 20, 0, 0),
        datetime.datetime(2034, 4, 20, 0, 0),
        datetime.datetime(2034, 7, 20, 0, 0),
        datetime.datetime(2034, 10, 20, 0, 0)],
       [975000.0, 950000.0, 925000.0, 900000.0, 875000.0, 850000.0,
        825000.0, 800000.0, 775000.0, 750000.0, 725000.0, 700000.0,
        675000.0, 650000.0, 625000.0, 600000.0, 575000.0, 550000.0,
        525000.0, 500000.0, 475000.0, 450000.0, 425000.0, 400000.0,
        375000.0, 350000.0, 325000.0, 300000.0, 275000.0, 250000.0,
        225000.0, 200000.0, 175000.0, 150000.0, 125000.0, 100000.0,
        75000.0, 50000.0, 25000.0, 0.0],
       [15000.0, 14625.0, 14250.0, 13875.0, 13500.0, 13125.0, 12750.0,
        12375.0, 12000.0, 11625.0, 11250.0, 10875.0, 10500.0, 10125.0,
        9750.0, 9375.0, 9000.0, 8625.0, 8250.0, 7875.0, 7500.0, 7125.0,
        6750.0, 6375.0, 6000.0, 5625.0, 5250.0, 4875.0, 4500.0, 4125.0,
        3750.0, 3375.0, 3000.0, 2625.0, 2250.0, 1875.0, 1500.0, 1125.0,
        750.0, 375.0]], dtype=object)

In [ ]:
stack[1,0]

datetime.datetime(2025, 1, 20, 0, 0)

In [ ]:
#金利支払い、支払い合計の計算
a = sum(e_list)

a

307500.0